
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular Demo</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/helloWorld.css" rel="stylesheet" />
</head>
<body class="container" ng-app>
    <div>
        <label>firstName:</label>
        <input type="text" ng-model="firstName" />

        <label>lastname:</label>
        <input type="text" ng-model="lastName" />

        <h2 ng-show="firstName || lastName">Hello, {{firstName}} {{lastName}}!</h2>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>

</body>
</html>
