<div class="col-xs-offset-1 col-xs-10">

    <div>
        <div class="row">
            <button class="previous col-xs-4 col-sm-2 col-lg-1 btn btn-default">
                Previous
            </button>
            <button class="next col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-8 col-lg-1 col-lg-offset-10 btn btn-default">
                Next
            </button>
        </div>

        <div class="row status">
            <span></span>
            <span class="selectedName"></span>
        </div>

        <div class="row">
            <div class="card" >
                <div class="col-xs-12 well front face ">
                    <h4></h4>
                    <p></p>
                </div>
                <div class="col-xs-12 well back face">
                    <h4></h4>
                    <p></p>
                </div>
            </div>
        </div>

    </div>

    <div>
        <h2>Card not found.</h2>
    </div>

</div>